@use 'styles/constants/breakpoints';
@use 'styles/constants/colors';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;

  .container {
    position: relative;
    width: 100%;
    min-width: breakpoints.$BP_XS;
    max-width: breakpoints.$BP_S;
    height: 100vh;
    max-height: 844px;
  }
}
