.root {
  .questionBox {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    .question {
      font-size: 17px;
      line-height: 21px;
    }
  }

  .progress {
    color: #e3dde2;
  }
}
